{% extends "encyclopedia/layout.html" %}

{% load static %}
<link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create a new page</h1>
    <form action="{% url 'wiki:save_page' %}" method="post" class="new">
        {% csrf_token %}
        <div>
            <h6>Title</h6>
            <input type="text" id="title" name="t">
        </div>
        <div>
            <h6> Markdown content</h6>
            <textarea id="content" placeholder="Write your encyclopedia entry here..." name="p"></textarea>
        </div>
        <input type="submit" value="Save page" class="submit">
    </form>
{% endblock %}